.app {
    background: #209cee;
    height: 100vh;
    padding: 30px;
  }
  
  .todo-list {
    background: #2f424d41;
    border-radius: 4px;
    width: 80vw;
    padding: 15px;
    margin: auto;
}
  
  .todo {
    align-items: center;
    background: #fff;
    border-radius: 0 10px ;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    margin-bottom: 6px;
    padding: 2px 10px;
  }

  .input{
      width: 50vw;
      height: 25px;
      font-size: 15px;
  }

  .btcon{
    padding-bottom: 7px;
  }

  .bt_c{
    margin: 5px;
  }

  .bt_c:hover{
        cursor: pointer;
     background-color: rgba(27, 170, 27, 0.493);
  }

  .bt_d:hover{
    cursor: pointer;
     background-color: rgba(245, 8, 8, 0.493);
  }
